<div class="container">
  <h1>Invite</h1>

  <div class="invite-form">
    <div class="title">INVITATION</div>

    <%= form_for :invite, url: invites_path, html: {:name => "inviteForm"}  do |f| %>
      <div class="form-group">
        <%= f.text_field :email, autofocus: true, placeholder: 'example@example.com' %>
        <%= f.hidden_field :employee_id, value: params[:employee_id] %>
      </div>

      <%= f.submit "Submit", class: 'button button-primary' %>
    <% end %>
  </div>
</div>
