
<div class="container">
    <div class="row">
        <%= render "search" %>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="row pull-right">
            <a href="/drives" class="btn btn-primary">Export to Drive</a>
            <a class="des-button btn btn-info" href="/timesheet_report">View Table</a>
        </div>
        <div id="container" style="width:100%; height:400px">

        </div>

    </div>
</div>
<%= render "js_chart" %>
