
<div class="container">
    <div class="row">
        <%= render "search" %>
    </div>
    <div class="row" style="margin-top:10px">
        <div class="col-sm-3 pull-right" style="margin-bottom: 5px">
            <a href="/drives" class="btn btn-primary">Export to Drive</a>
            <a href="/timesheet_report/chart" class="btn btn-success">View Graph</a>
        </div>
        <table class="table table-bordered table-timesh" style="text-align: center;">
            <thead>
                <th>Employee</th>
                <th>Hour Worked</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<%= render "js_index" %>
