<center>
  <div class="col-md-6">
    <h1> Organization Structure</h1>
  </div>
  <div class="col-md-6">
    <a class="btn btn-info pull-right" style="margin-top:10px" href="<%= employees_path%>"> << Back to Employee</a>
  </div>
</center>
<div id="papermint" data-react-class = "organizationContainer">

</div>
