<nav class="navbar navbar-default navbar-fixed-top navbar--home" role="navigation" navbar-float>
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#"><div id="logo"></div></a></li>
    </ul>
    <div class="signup-tools pull-right">
      <a href="<%= new_user_registration_path %>" class="navbar-btn button button-primary">Start Free 14 Day Trial</a>
      <a href="<%= new_user_session_path %>" class="navbar-btn button button-default">Sign in</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
    </ul>
  </div>
</nav>