<div class="container">
<% if @feedback_valid %>
  <h2>Thanks For Your Feedback! We Appreciate Your Feedback.</h2>
<% else %>
  <h2>You Already Gave Us a Feedback, Thanks For a Feedback! </h2>
<% end %>
</div>