<tr>
  <td align="left" valign="top">
    <p>
      Hi <%= @name %>,
    </p>
  </td>
</tr>
<tr>
  <td>
    <p>
      Kami mengingatkan Anda untuk interview di Dexcode pada hari ini <%= display_interview_time(@datetime) %> di:
    </p>
  </td>
</tr>
<tr>
  <td>
    <p>
      Dexcode Indotama<br/>
      Jln. Kelapa Hybrida Raya QG 10 / 37 <br/>
      Kelapa Gading, Jakarta Utara
    </p>
  </td>
</tr>
<tr>
  <td>
    <p>
      Untuk peta atau informasi perusahaan bisa dilihat di <a href="http://www.dexcode.com/contact_us">http://www.dexcode.com/contact_us</a>
    </p>
  </td>
</tr>
<tr>
  <td>
    <p>
      Thanks,<br/>
      Armin Primadi<br/>
      Dexcode Indotama<br/>
      (021) 4584 - 8687
    </p>
  </td>
</tr>
