<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Dexcode: Interview Invitation</title>
  <style>
    html, p {
      font-family: Verdana, sans-serif;
      color: #000000;
      font-size: 13px;
      line-height: 21px;
    }
    p {
      margin-bottom: 20px;
    }
    .button {
      display: inline-block;
      text-align: center;
      line-height: 1.42857143;
      vertical-align: middle;
      background-color: #4fabe3;
      border: 1px solid #4fabe3;
      color: white;
      text-decoration: none;
      padding: 10px 30px;
      border-radius: 5px;
    }
    .orange {
      border-radius: 2px;
      padding: 5px 15px;
      background:#E58225;
      border-color:#E58225;
      color:#fff;
      margin-top:10px;
      margin-bottom:10px;
      text-decoration: none;
    }
  </style>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
      <tr>
        <td align="center">
          <a href="http://www.dexcode.com" target="_blank">
            <img src="<%= asset_url('logo.png') %>" style="margin-top: 20px; height: 75px;" />
          </a>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="7%">&nbsp;</td>
            <td width="86%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="right"><br/><br/><br/></td>
              </tr>
              <%= yield %>
              <tr>
                <td></td>
              </tr>
            </table>
            </td>
            <td width="35%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="82%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="10"> </td>
                  </tr>
                </table></td>
                <td width="8%">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
